# Database
db.sqlite3
*.sqlite3
*.db

# Environment variables
.env

# IDE
.vscode/
.idea/

# Static & Media
/media/
/static/
/staticfiles/

# Virtual environment
venv/
env/
ENV/

