{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Выберите дни для генерации слотов</h2>
    <div id="calendar-days" class="mb-3"></div>
    <form id="generateSlotsForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="selected_dates" id="selectedDatesInput">
        <div class="mb-3">
            <label>Время начала:</label>
            <input type="time" name="start_time" required>
        </div>
        <div class="mb-3">
            <label>Время окончания:</label>
            <input type="time" name="end_time" required>
        </div>
        <button type="submit" class="btn btn-primary">Сгенерировать слоты</button>
    </form>
</div>


{% endblock %}
